@import url( 'https://fonts.googleapis.com/css?family=Roboto+Condensed');

$custom-gray: #757575;
$custom-blue: #009ADB;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 0.875em;
  line-height: 1.25em;
  font-family: 'Roboto Condensed', sans-serif;
  color: $custom-gray;
  background: #7B7F88;
}

.resume {
	width: 100%;
	max-width: 800px;
	background: #fff;
  margin: 0 auto;
  padding: 20px;
}

h3 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 15px 0;
}

.title {
  text-transform: uppercase;
  font-size: 0.9375em;
}

.name {
  color: $custom-blue;
  text-transform: uppercase;
}

.data {
  font-size: smaller;
}

.description {
  margin-bottom: 15px;
}

.image {
  max-width: 150px;
  height: 150px;
  margin: 20px auto 20px;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    background-size: cover;
    background-position: center;

  }
}

.section--contact {
  padding: 0 30px;
}

.section--about {
  padding: 0 15px;
}

.section--hobbies {
  margin-bottom: 15px;
}

.contact-title {
  font-size: 2.25em;
  line-height: initial;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px 0 20px;
}

.contact-details {
  font-size: 1.125em;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      display: block;
      position: relative;

      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          cursor: pointer;
          color: $custom-blue;
        }
      }
    }
  }
}

.skilss .title {
  color: $custom-blue;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@for $i from 1 through 12 {
  .col-print-#{$i} {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.col-print-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-print-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-print-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-print-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-print-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-print-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-print-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-print-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-print-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.col-print-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-print-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-print-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

  .container-fluid, .container {
    width: auto;
  }

  .print-hidden {
    display: none;
  }
  
  a[href]:after {
    content: attr(href);
  }

  footer {
    padding-top: 80px;
  }

  .section--footer > p {
    padding: 0 15px;
    font-size: 0.75em;
    color: $custom-gray;
  }
